/* padding margins */
* {
  margin: 0px;
  padding: 0px;
}


/* background color*/
body {
  background-color: #ffffff;
}

/* navigation bar */
.nav-bar{
  margin-top: 50px;
  margin-right: 70px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
  direction:rtl;
}

li {
  display: inline;
  padding: 0.5em;
  background-color: none;
}

li:last-child {
  border-right: none;
}

li a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  padding: 1.5em;
}

/* text flex */
 .top-header {
   margin-top: 50px;
   margin-left: 200px;
/*   display: flex;
  flex-direction: column;
  padding: 1.5em;
  flex-shrink: 3; */
}
